.list-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 76vh;
  padding: 1rem;
}

.search {
  border: 1px solid;
  border-color: rgb(39, 170, 225);
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-top: 2rem;
}

.not-found {
  color: rgb(31, 139, 185);
}