.card-app {
  margin: 1rem;
  padding: 2rem;
  width: 160px;
  display: flex;
  flex-direction: column;
}

.card-app:hover {
  background-color: rgba(225, 225, 225, 0.842);;
  border-radius: 1.8rem;
}

.card-app p {
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px white;
}

.card-app img {
  max-width: 100px;
  border-radius: 1.8rem;
  padding: 1rem;
}
