.list-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 76vh;
  padding: 1.5rem;
}

.btn {
  background-color: white;
  border-color: white;
  border-radius: 0.5rem;
  color: rgb(39, 170, 225);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
}

.btn:hover {
  background-color: rgb(39, 170, 225);
  border-color: rgb(39, 170, 225);
  color: white;
}