.list-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem;
  min-height: 76vh;
}

.btn {
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: rgb(196, 196, 196);
}