.app {
  background: linear-gradient(160.82099197418927deg, rgba(255, 255, 255,1) 21.99036918138042%,rgba(254, 254, 254,1) 21.99036918138042%,rgba(90, 173, 209,1) 95.82664526484749%);
  min-height: 100vh;
  text-align: center;
  z-index: -1;
}